@{
    ViewBag.Title = "About";
}
<main class="container-fluid px-0 pb-0">
    <section class="mx-3 my-3">
        <h4 id="title" class="sedan-regular mb-0">Tail Tales</h4>
        <h2 class="sedan-regular fw-bolder">@ViewBag.Title.</h2>
        <div>
            <p><span class="sedan-regular fw-bold">TailTales</span> è una piattaforma pensata per i proprietari di animali domestici: il suo fulcro è infatti la completa gestione della vita del proprio animale: gli utenti hanno a disposizione un libretto digitale da compilare, in modo da monitorare costantemente ogni aspetto della sua salute, ma non trascura uno degli aspetti più divertenti dell’avere un animale! Infatti ogni utente ha la possibilità di creare un diario visuale per conservare i momenti speciali del suo amico a quattro zampe, attraverso una personale raccolta di foto significative.</p>
            <p>Pur non essendo una piattaforma del tutto social, una feature speciale di TailTales sono le relazioni: ogni utente infatti avrà la possibilità di registrare le relazioni tra gli utenti e tra gli animali stessi, consentendo di seguire la crescita dei cuccioli anche dopo che hanno trovato una nuova casa.</p>
            <p>La piattaforma non trascura i professionisti del settore, offrendo profili dedicati per offrire non solo una vetrina, ma anche per consentire una comunicazione efficace e collaborativa tra l’utente e gli esperti che si prendono cura del suo animale. Questi profili speciali saranno dedicati ai canili, gattili, allevatori, veterinari, educatori e tolettatori.</p>
            <p>L'obiettivo di TailTales è quello di essere molto più di una semplice piattaforma sociale: è un compagno affidabile nella missione di prendersi cura del proprio animale domestico, offrendo strumenti e risorse per garantire il suo benessere e la sua felicità.</p>
            <p>Lo sviluppo dell'app avverrà utilizzando <b>ASP.NET MVC e Entity Framework</b>, garantendo un'esperienza utente intuitiva, fluida e sicura.</p>
        </div>
    </section>
</main>