
@{
    ViewBag.Title = "SiteGuide";
}
<main class="container-fluid px-0 pb-0">
    <section class="mx-3 my-3">
        <h4 id="title" class="sedan-regular mb-0">Tail Tales</h4>
        <h2 class="sedan-regular fw-bolder">@ViewBag.Title.</h2>
        <div>
            <p>Benvenuto nella nostra guida al sito di TailTales! Qui troverai informazioni dettagliate su come utilizzare tutte le funzionalità del nostro sito web per massimizzare la tua esperienza utente.</p>
            <p>Se hai domande specifiche o hai bisogno di assistenza, non esitare a contattarci tramite il nostro modulo di contatto. Siamo qui per aiutarti!</p>
        </div>
    </section>
</main>

