
@{
    ViewBag.Title = "WorkWithUs";
}
<main class="container-fluid px-0 pb-0">
    <section class="mx-3 my-3">
        <h4 id="title" class="sedan-regular mb-0">Tail Tales</h4>
        <h2 class="sedan-regular fw-bolder">@ViewBag.Title.</h2>
        <div>
            <p>Siamo sempre alla ricerca di persone talentuose e appassionate che vogliono unirsi alla nostra squadra! Se sei interessato a lavorare con noi, inviaci il tuo curriculum vitae e una lettera di presentazione a <a href="mailto:info@tailtales.com">info@tailtales.com</a>.</p>
            <p>Attualmente stiamo cercando professionisti nel campo dello sviluppo software, del design UX/UI, del marketing digitale e molto altro. Non vediamo l'ora di sentire parlare di te!</p>
        </div>
    </section>
</main>
